# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.tokens.js
*.request.json

dist

temp.mp4
videos-working-directory

pubsub-service-account.json

assets/output
reqId.log

# Shared
sharedTypes
tasks

src/tests/tests-data/*
!src/tests/tests-data/Readme.md